[submodule "Xenolith/vendor/spdlog"]
	path = Xenolith/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Xenolith/vendor/GLFW"]
	path = Xenolith/vendor/GLFW
	url = https://github.com/TheCherno/glfw
